<h4>Please login first:</h4>
<div id="jsLogin" class="section">
  <p>
    <fb:login-button onlogin="location.reload()" perms="<%= (facebook_permissions || []).join(",") %>"></fb:login-button>
  </p>
</div>


