
<div class="upload_area">
  <%= form_for @image, :html => { :class => "upload", :multipart => true } do |f| %>
      <%= f.file_field :photo %>
      <div>Upload files</div>
  <% end %>
  <table class="upload_files"></table>
</div>

<div class="crop_area"></div>

<div class="success_area"></div>

<script language="Javascript">
  $(function () {
    $('.upload').fileUploadUI({
      uploadTable: $('.upload_files'),
      buildUploadRow: function (files, index) {
          var file = files[index];
          return $('<tr><td>' + file.name + '<\/td>' +
                  '<td class="file_upload_progress"><div><\/div><\/td>' +
                  '<td class="file_upload_cancel">' +
                  '<div class="ui-state-default ui-corner-all ui-state-hover" title="Cancel">' +
                  '<span class="ui-icon ui-icon-cancel">Cancel<\/span>' +
                  '<\/div><\/td><\/tr>');
      },
      onComplete: function (event, files, index, xhr, handler) {
        $('.crop_area').html(xhr.responseText);
        $('.upload_area').hide();
        enable_cropping();
      }

    });
  });

  function enable_cropping() {
    jQuery(function(){
      jQuery('#cropbox').Jcrop({
        aspectRatio: <%= Image::RATIO %>,
        setSelect: [ 10, 10, 493+10, 68+10 ],
        sideHandles: false,
        allowSelect: false,
        onChange: showCoords
      });
    });

    $('.edit_image')
       .bind('ajax:beforeSend', function() {
         $(".crop_area").hide();
        })
       .bind('ajax:complete', function() {
        })
       .bind('ajax:success', function(xhr, data, status) {
         $.ajax({
           url: '/images/' + data,
           context: document.body,
           dataType: "html",
           success: function(data, status){
             $(".success_area").html(data);
           }
         });
        })
       .bind('ajax:failure', function(xhr, status, error) {alert("failure!");});
  };

  function showCoords(c)
  {
    jQuery('#image_crop_x').val(c.x);
    jQuery('#image_crop_y').val(c.y);
    jQuery('#image_crop_width').val(c.w);
    jQuery('#image_crop_height').val(c.h);
  };
</script>
